################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/obj/Debug
/Logs
/Library
/Interactive-Erosion.sln
/Assembly-CSharp.csproj
/.vs/Interactive-Erosion/v16/TestStore/0
/.vs/Interactive-Erosion/v16
